@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <form action="http://localhost:20541/Api/Travel/Reserve/Upload" method="post" enctype="multipart/form-data" >
        <input type="file" name="files" />
        <input type="submit" value="提交" />
</form>
</div>

